:root{
    --primary-background-color: white;
    --secondary-background-color: #fafafa;
    --third-background-color: #e9e9e9;
    --text-color: black;
    --primary-color: #2196F3;
    --secondary-color: #c6f2f7;
    --shadow-color: #eaeaea;
    --dark-shadow-color: #cdcdcd;
    --hover-color: #ddd;
    --disabled-color: darkgrey;
}

.black{
    --primary-background-color: #202124;
    --secondary-background-color: #292a2d;
    --third-background-color: #292a2d;
    --text-color: #ccd7d5;
    --primary-color: #40B5AD;
    --secondary-color: #008080;
    --shadow-color: #121212;
    --dark-shadow-color: #121212;
    --hover-color: #5f6168;   
    --disabled-color: gray;
}

.white{
    --primary-background-color: white;
    --secondary-background-color: #fafafa;
    --third-background-color: #e9e9e9;
    --text-color: black;
    --primary-color: #2196F3;
    --secondary-color: #9dd4ff;
    --shadow-color: #dddddd;
    --dark-shadow-color: #cdcdcd;
    --hover-color: #ddd;
    --disabled-color: darkgrey;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 4px;
  box-shadow: inset 0 0 2px var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);  
}

*, ::after, ::before {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background-color: var(--primary-background-color);
}

body{
    margin:0;
    font-family:Arial;
    line-height: 1.5;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.h1,h1{font-size:2.5rem}
.h2,h2{font-size:2rem}
.h3,h3{font-size:1.75rem}
.h4,h4{font-size:1.5rem}
.h5,h5{font-size:1.25rem}
.h6,h6{font-size:1rem}

hr{
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
    height: 1px;
}

button, input, optgroup, select, textarea{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 5px;
    border-width: thin;
}
  
.ride_tr:nth-child(even){
    background-color: var(--secondary-background-color);
}

.ride_table{
  border-collapse: collapse;
  text-align: center;
  width: auto;
  min-width: 350px;
}

.scrolltable{ 
  overflow: auto; 
  max-height: 370px; 
  box-shadow: 0 0 5px var(--shadow-color);
}

.dataTable{
    overflow-y: scroll; 
    max-height: 370px; 
    box-shadow: inset 0 0 5px var(--shadow-color);
    border-radius: 0px 0px 10px 10px;
}

.dataTable div{
    border-bottom: 1px solid var(--shadow-color); 
    padding: 5px; 
    min-width: 550px;
}

.dataTableData:nth-child(2n+1){
    background-color: var(--secondary-background-color);
}

.dataTableData:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

.dataTableHeader{
    background-color: var(--primary-color); 
    color: white;
    border: 0;
    padding: 5px; 
    min-width: 550px;
    border-radius: 10px 10px 0px 0px;
}

.dataTableHeader:hover{
    background-color: var(--secondary-color);
    color: var(--text-color);
    cursor: pointer;
}

.dataTableDescription{
    box-shadow: inset 0 0 5px var(--shadow-color);
}

.share{
    background-color: lavender;
}

.share:nth-child(4n+1){
    background-color: #d6d6e9;
}

.ride_td, .ride_th{
  padding: 5px;
  position: relative;
}

.ride_tr:hover{
  background-color: var(--hover-color);
  cursor: pointer;
}

.ride_th{
  background-color: var(--primary-color);
  color: white;
}

.userList{
    width: 100%;
    border-collapse: collapse;
}

.userList th, .userList td{
    padding: 10px;
}

input[type=text], 
input[type=date],
input[type=number],
input[type=password],
input[type=email],
textarea, 
select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	outline: none;
	padding: 5px;
	margin: 0px 0px 6px 0px;
        color: var(--text-color);
	background-color: var(--primary-background-color);
}

input[type=text]:focus, 
input[type=date]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=email]:focus,
textarea:focus, 
select:focus
{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}

input[type=submit]
{
	background: var(--primary-color);
	padding: 6px 12px 6px 12px;
	border: none;
	color: #fff;
        cursor: pointer;
}

input[type=submit]:hover
{
	background: var(--hover-color);
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.box {
  color: var(--text-color);
  width: 500px;
  height: auto;
  margin: 10px;
  padding: 10px;
  background-color: var(--secondary-background-color);
  font-family: Helvetica, Arial, sans-serif;
  box-shadow: 1px 1px 5px var(--shadow-color);
  border-radius: 10px;
}

.welcome {
  width: 90%;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  box-shadow: 0px 5px 5px var(--shadow-color);
  background-color: #c6f2f7;
  height: 200px;
  line-height: 49px;
}

.description {
  width: 50%;
  align-self: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  box-shadow: 0px 5px 5px var(--shadow-color);
  background-color: var(--secondary-background-color);
}

.profile_box {
  width: 75%;
  align-self: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
  box-shadow: 0px 5px 5px var(--shadow-color);
  background-color: var(--secondary-background-color);

}

.error {
  width: 90%;
  align-self: center;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  box-shadow: 0px 5px 5px var(--shadow-color);
  background-color: red;
  color: white;
}

.obal {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.obal_dolu {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.switch {
  position: relative;
  display: inline-table;
  width: 50px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-background-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.invisibleSelect {
    border: none; 
    appearance: none; 
    background-color: var(--secondary-background-color); 
    color: var(--primary-color); 
    font-weight: bold; 
    margin: 0px; 
    height: auto; 
    padding: 0px;
}

.invisibleSelect:hover {
    border: none; 
    appearance: none; 
    background-color: var(--secondary-background-color); 
    color: var(--text-color); 
    font-weight: bold; 
    margin: 0px; 
    height: auto; 
    padding: 0px;
}

.invisibleSelect:focus {
    border: none; 
    appearance: none; 
    background-color: var(--secondary-background-color); 
    color: var(--text-color); 
    font-weight: bold; 
    margin: 0px; 
    height: auto; 
    padding: 0px;
    box-shadow: 0 0 0px;
}

.rightPosition {
    float: right;
}

.customButton {
    cursor: pointer; 
    background: var(--secondary-background-color); 
    padding: 10px; 
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow-color);
}

.customButton:hover {
    background: var(--hover-color);
}

.highlightedText {
    text-shadow: 1.5px 1.5px 1px var(--shadow-color); 
    color: var(--primary-color); 
    font-weight: bold;
}

.linkText {
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

.linkText:hover {
    color: var(--secondary-color);
}

.info_box {
  width: auto;
  align-self: center;
  box-shadow: 0px 0px 5px 1px var(--shadow-color);
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--primary-background-color);
}

.info_obal {
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow: auto;
  align-items: center;
}

@media screen and (max-width: 975px) {
.profile_box{width: 100%; margin-left: 0%; margin-right: 0%;}
.error{width: 100%; margin-left: 0%; margin-right: 0%;}

.description {width: 100%; margin-left: 0%; margin-right: 0%;}

.info_box {width: 100%;}

.ride_table{width: 100%;}

.dataTable div{min-width: 330px;}

.dataTableHeader{min-width: 330px;}

.rightPosition{float: inherit; display: block}
}
