.car_box {
  width: auto;
  align-self: center;
  box-shadow: 0px 0px 5px 1px var(--shadow-color);
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--primary-background-color);
}

.addcar_box {
  width: auto;
  align-self: center;
  box-shadow: 0px 0px 5px 1px var(--shadow-color);
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: var(--primary-background-color);
}


.car_obal {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.red {
  color: red;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

td {
	padding: 2px;
}

table {
	border: none; 
	box-shadow: none; 
	text-align: left; 
	width: auto;
}

select {
	height: 36px;
}

.dc-btn {
        cursor: pointer;
	border: none;
	outline: none;
	background: none;
	color: red;
	padding: 0;
	text-decoration: none;
	font-family: inherit;
	font-size: inherit;
	float: right;
	font-weight: bold;
}

@media screen and (max-width: 975px) {
.car_box{width: 100%;}
.addcar_box{width: 100%;}
}
