.myNavbar{
    overflow: hidden;
    background-color: var(--third-background-color);
    box-shadow: 1px 1px 5px var(--dark-shadow-color);
}

.myNavbar a{
    float: left;
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 17px;
}

.myNavbar a.disabled{
    pointer-events: none;
    background-color: var(--disabled-color);
    color: black;
}

.active{
    background-color: var(--secondary-color);
}

.myNavbar .icon{
    display: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbutton{
    border: none;
    outline: none;
    background-color: inherit;
    padding: 14px 16px;
    margin: 0;
    color: var(--text-color);
    font-family: inherit;
    font-size: 17px;  
}

.dropdown .dropbutton.disabled{
    pointer-events: none;
    background-color: var(--disabled-color);
    color: black;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: var(--secondary-background-color);
    min-width: 103.61px;
    box-shadow: 0px 5px 5px var(--dark-shadow-color);
    z-index: 1;
}

.dropdownContent a{
    float: none;
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.myNavbar a:hover, .dropdown:hover, .dropbutton{
    background-color: var(--hover-color);
    color: black;
}

.dropdownContent a:hover{
    background-color: var(--hover-color);
}

.dropdown:hover.enabled .dropdownContent{
    display: block;
}

.myNavbar .loginContainer{
    float: right;
}

.myNavbar input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 150px;
}

.myNavbar input[type=password]{
    padding: 6px;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 17px;
    border: none;
    width: 150px;
}

.myNavbar .loginContainer button{
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: var(--primary-color);
    font-size: 17px;
    border: none;
    cursor: pointer;
    color: white;
}

.myNavbar .loginContainer button:hover{
    background: var(--hover-color);
}

#logout{
    background: var(--primary-color);
    color: white;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border-radius: 5px;
}

#logout:hover{
    background: var(--hover-color);
}

@media screen and (max-width: 975px) {
    .myNavbar a:not(:first-child), .dropdown .dropbutton, .myNavbar .loginContainer{
        display: none;
    }
    
    .myNavbar a.icon{
        float: right;
        display: block;
    }
    
    
    .myNavbar.open{
        position: relative;
    }
    
    .myNavbar.open .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
  
    .myNavbar.open a{
        float: none;
        display: block;
        text-align: left;
    }
  
    .myNavbar.open .dropdown, .myNavbar.open .loginContainer{
        float: none;
    }
  
    .myNavbar.open .dropdownContent{
        position: relative;
    }
    
    .myNavbar.open .dropdown .dropbutton, .myNavbar.open .loginContainer{
        display: block;
        width: 100%;
        text-align: left;
    }
    
    .myNavbar.open input[type=text]{
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
  
    .myNavbar.open input[type=password], .myNavbar.open .loginContainer button{
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
  
    .myNavbar.open input[type=text]{
        border: 1px solid #c6f2f7;
    }
    
    #logout{
        background: var(--primary-color);
        color: white;
        padding: auto;
        float: right;
        width: auto;
    }
    
    #profile_name{
        float: left;
        width: 65%;
    }
}