<br>
<div class="obal_dolu">
    <div class="box profile_box">
        <h5>Změna účtu</h5>
        <hr>
        <form>
            <strong>Přihlásit se jako: </strong>
            <select name="id">
                <?php foreach($accounts as $row): ?>
                    <option value="<?=$row['id']?>"><?=$row['username']?></option>
                <?php endforeach ?>
            </select>
            <input type='submit' value='Potvrdit'>
        </form>
    </div>
</div>