<br>
<div class="obal_dolu">
    <div class="box profile_box">
        <h5>Náklady dané jízdy - <select id='carTripFuel' class='invisibleSelect'> 
        <?php foreach ($carList as $data){
            echo "<option value='".Secure::encode($data['id'])."'>" . $data['name'] . " " . $data['model'] . "</option>";
        }?>
        </select></h5>
        <hr>
        <label for="tripDistanceFuel">Ujeto kilometrů: </label>
        <input type="number" id="distanceTripFuel" placeholder="Ujeto kilometrů">
        <input style="background:darkgray; cursor: not-allowed" type='submit' id="btnCalculateTripCost" value='Vypočítat' disabled>
        <div id="answerTripFuel" style="display: none"></div>
        <div style="font-size: small">(Cena za kilometr: <a id="PpKTripFuel">Načítání..</a> Kč) <div style="font-size: x-small; display: unset">[<a id="dateTripFuel">Načítání..</a>]</div></div>
    </div>
</div>

<script>
    document.getElementById('carTripFuel').onchange = function() {
        document.getElementById('distanceTripFuel').value = "";
        GetData();
    };
    
    document.getElementById('btnCalculateTripCost').onclick = function() {
        let distance = document.getElementById('distanceTripFuel').value;
        let PpK = document.getElementById('PpKTripFuel').innerHTML;
          
        if(distance == ""){distance = 0;} 
         
        let result = distance * PpK;
        result = Math.round(result);
          
        document.getElementById('answerTripFuel').style.display = "block";  
        document.getElementById('answerTripFuel').innerHTML = "Za cestu dlouhou <a class='highlightedText'>"+distance+" km</a> zaplatíš <a class='highlightedText'>"+result+" Kč</a>";
    };
    
    document.addEventListener('DOMContentLoaded', function() {
        GetData();
    }, false);

    function GetData(){
        document.getElementById('btnCalculateTripCost').disabled = true;
        document.getElementById('btnCalculateTripCost').style.background = "darkgray";
        document.getElementById('btnCalculateTripCost').style.cursor = "not-allowed";
        document.getElementById('PpKTripFuel').innerHTML = "Načítání..";
        document.getElementById('dateTripFuel').innerHTML = "Načítání..";
        document.getElementById('answerTripFuel').style.display = "none";
        document.getElementById('answerTripFuel').style.removeProperty('color');
        document.getElementById('answerTripFuel').innerHTML = "";
        
        carId = document.getElementById('carTripFuel').value;
        $.ajax({
            type : 'POST',
            url : 'ajax/getTripCostData',
            data : {
                0: carId, 
            },
            dataType : 'json',
            success: function (data) {
                if(data[0] != null){
                    document.getElementById('PpKTripFuel').innerHTML = data[1];
                    document.getElementById('dateTripFuel').innerHTML = data[2];
                
                    document.getElementById('btnCalculateTripCost').disabled = false;
                    document.getElementById('btnCalculateTripCost').style.removeProperty('background');
                    document.getElementById('btnCalculateTripCost').style.removeProperty('cursor');
                } else {
                    document.getElementById('answerTripFuel').style.display = "block";  
                    document.getElementById('answerTripFuel').style.color = "red";
                    document.getElementById('answerTripFuel').innerHTML = "Není dostatek dat pro umožnění této funkce!";
                }
            },
            error : function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }    
</script>
