<br>
<div class="obal_dolu">
    <div class="box profile_box" id="carData">
        <section id="info">
        <span hidden id="carId"></span>
        <h5>Základní informace - <select name='car' id='car' class='invisibleSelect'> 
        <?php foreach ($carList as $data){
            echo "<option value='".$data['id']."'>" . $data['name'] . " " . $data['model'] . "</option>";
        }?>
        </select></h5>
        <hr>
        <a id="infoText"></a>
        <strong>Rok výroby: </strong><a id="mfgdt">Načítání dat</a><br>
        <strong>Motor: </strong><a id="engine"></a><br>
        <strong>Výkon: </strong><a id="power">Načítání dat</a><br>
        <strong>Palivo: </strong><a id="fuelType">Načítání dat</a><br>
        <strong>Stav: </strong><a id="state">Načítání dat</a>    
        </section>
    </div>
    <div class="box profile_box">
        <h5>Statistiky o autě</h5>
        <hr>
        <strong>Majitel: </strong><a id="owner">Načítání dat</a><br>
        <strong>Ujelo: </strong><a id="distance">Načítání dat</a><br>
        <strong>Utraceno za servis: </strong><a id="service">Načítání dat</a><br>
        <strong>Průměrná spotřeba: </strong><a id="fc">Načítání dat</a>
    </div>
    <div class="box profile_box">
        <h5>Půjčení auta</h5>
        <hr>
        <label for="usersInput">Uživatel: </label>
        <input type="text" id="usersInput" placeholder="Email/ID" name="usersInput">
        <input style="background:darkgray; cursor: not-allowed" type='submit' id="btnShareCar" name="btnShareCar" value='Půjčit auto' disabled>
        <a id="shareStatus"></a>
        <table class="userList" style="max-width: 400px; margin-top: 10px">
            <tbody id="userList">
            </tbody>
        </table>
        <br>
        <strong>Sdílení auta přes odkaz:</strong><br>
        <a class="linkText" id="shareLink" onclick="CopyText(this)"></a> <input style="background:darkgray; cursor: not-allowed" type='submit' id="btnShareCarLink" name="btnShareCarLink" value='Vytvořit odkaz' disabled> <a id="shareLinkStatus"></a>
    </div>
    <div class="box profile_box">
        <h5>Předání auta</h5>
        <hr>
        <a id="giveStatus"></a>
        <label for="usersInput2">Uživatel: </label>
        <input type="text" id="usersInput2" placeholder="Email/ID" name="usersInput">
        <input style="background:darkgray; cursor: not-allowed" type='submit' id="btnGiveCar" name="btnGiveCar" value='Předat auto' disabled>    
    </div>
    <div class="box profile_box">
        <h5>Možné akce</h5>
        <hr>
        <input style="background:darkgray; cursor: not-allowed" type='submit' id="btnArchiveCar" name="btnArchiveCar" value='Archivovat' disabled>
        <input style="background:darkgray; cursor: not-allowed" type='submit' id="btnEditCar" name="btnEditCar" value='Upravit' disabled>
        <input style="background:darkgray; cursor: not-allowed" type='submit' id="btnDeleteCar" name="btnDeleteCar" value='Smazat' disabled>
    </div>
</div>

<form method="POST" id="deleteCar">
    <input type="hidden" id="deleteCarId" name="deleteCarId" value="">
</form>
    

<script>
    document.getElementById('btnShareCar').onclick = function() {
        document.getElementById('shareStatus').style.color = "var(--text-color)";
        document.getElementById('shareStatus').innerHTML = "Přidávání..";
        CreateShare();
    };
    
    document.getElementById('btnShareCarLink').onclick = function() {
        document.getElementById('shareLink').innerHTML = "Generování odkazu..";
        CreateLink();
    };
    
    document.getElementById('btnGiveCar').onclick = function() {
        if(confirm("Opravdu chcete předat auto?")){
            document.getElementById('giveStatus').style.color = "var(--text-color)";
            document.getElementById('giveStatus').innerHTML = "Předávání..<br>";
            GiveCar();
        }
    };
    
    document.getElementById('btnArchiveCar').onclick = function() {
        let carId = document.getElementById('car').value;
        if(confirm("Opravdu chcete archivovat auto?")){
            $.ajax({
                type : 'POST',
                url : 'ajax/archiveCar',
                data : {
                    iArchiveCarId: carId
                },
                dataType : 'json',
                success: function (data) {
                    document.getElementById('state').innerHTML = "Archivováno";
                },
                error : function (errorThrown) {
                    console.log (errorThrown);
                }
            });
        }
    };
    
    let edit = 0;
    document.getElementById('btnEditCar').onclick = function() {
        location.href = "carpanel#info";
        if(edit == 0){
            document.getElementById('btnEditCar').value = "Uložit změny";
            let parent = document.getElementById('info');
            
            const textField = {"input1": "mfgdt", "input2": "engine", "input3": "power"};
            let attributes = {};
            for(var key in textField){
                let text = document.getElementById(textField[key]);
                let element = document.createElement("input");
                if(key === "input1"){
                    attributes = {"type": "number", "min": "0", "max": "2030", "style": "margin: 0px; height: 23px; border: 1px solid lightgrey; padding: 0; padding-left: 5px; min-width: 120px"};
                } else {
                    attributes = {"type": "text", "style": "margin: 0px; height: 23px; border: 1px solid lightgrey; padding: 0; padding-left: 5px;"};
                }
                if(key === "input3"){
                    let powerText = text.innerHTML;
                    let power = 0;
                    let isLetter = 0;
                    for(let i = 0; i < powerText.length; i++){
                        if(isNaN(powerText.charAt(i)) && isLetter === 0){
                            isLetter = 1;
                            power = powerText.substr(0, i);
                        }
                    }
                    element.value = power+"kW"; 
                } else {
                    element.value = text.innerHTML;
                }
                for(var key in attributes) {
                    element.setAttribute(key, attributes[key]);
                }
                element.id = text.id;
                parent.replaceChild(element, text);
            }

            edit = 1;
        } else {
            ChangeInfo(document.getElementById('car').value, document.getElementById("mfgdt").value, document.getElementById("engine").value, document.getElementById("power").value);
            document.getElementById('infoText').innerHTML = "Nahrávání úpravy..<br>";
            document.getElementById('btnEditCar').value = "Upravit";
            let parent = document.getElementById('info');
            
            const textField = {"text1": "mfgdt", "text2": "engine", "text3": "power"};
            for(var key in textField){
                let input = document.getElementById(textField[key]);
                let element = document.createElement("a");
                if(key === "text3"){
                    let powerText = input.value+"K";
                    let power = 0;
                    let isLetter = 0;
                    for(let i = 0; i < powerText.length; i++){
                        if(isNaN(powerText.charAt(i)) && isLetter === 0){
                            isLetter = 1;
                            power = powerText.substr(0, i);
                        }
                    }
                    element.innerHTML = power+"kW / "+Math.round(power * 1.35962)+"PS";
                } else {
                    element.innerHTML = input.value;
                }
                element.id = input.id;
                parent.replaceChild(element, input);
            }
            
            edit = 0;
        }    
    };
    
    document.getElementById('btnDeleteCar').onclick = function() {
        if(confirm("Opravdu chcete smazat auto?")){
            document.getElementById("deleteCar").submit();
        }
    };
    
    function CopyText(element){
        navigator.clipboard.writeText(element.innerHTML);
        document.getElementById('shareLinkStatus').innerHTML = "Zkopírováno!";
    }
    
    function ChangeInfo(carId, mfgdt, engine, power){
        $.ajax({
            type : 'POST',
            url : 'ajax/changeCarInfo',
            data : {
                iCarId: carId,
                iMfgdt: mfgdt,
                iEngine: engine,
                iPower: power 
           },
            dataType : 'json',
            success: function (data) {
                document.getElementById('infoText').innerHTML = "Úspěšně aktualizováno!<br>";
            },
            error : function (errorThrown) {
                console.log (errorThrown);
            }
        });
    }
    
    function CreateShare(){
        let eCar = document.getElementById('car').value;        
        let eUser = document.getElementById('usersInput').value;
        $.ajax({
            type : 'POST',
            url : 'ajax/createShare',
            data : {
                iShareAddId: eCar,
                iShareAddUser: eUser 
           },
            dataType : 'json',
            success: function (data) {
                document.getElementById('usersInput').value = "";
                if(data == 1){
                    document.getElementById('shareStatus').style.color = "red";
                    document.getElementById('shareStatus').innerHTML = "Zadaný účet neexistuje!";
                } else if(data == 2){
                    document.getElementById('shareStatus').style.color = "red";
                    document.getElementById('shareStatus').innerHTML = "Auto s již daným uživatelem sdílíš!";
                } else {
                    document.getElementById('shareStatus').innerHTML = "";
                    document.getElementById('userList').innerHTML = "";
                    data.forEach(CreateUserTab);
                }
            },
            error : function (errorThrown) {
                console.log (errorThrown);
            }
        });
    }
    
    function DeleteShare(eId){
        document.getElementById(eId).remove();
        $.ajax({
            type : 'POST',
            url : 'ajax/deleteShare',
            data : {
                iShareDelete: eId
            },
            dataType : 'json',
            success: function (data) {
                
            },
            error : function (errorThrown) {
                console.log (errorThrown);
            }
        });
    }
    
    function CreateLink(){
        let eCar = document.getElementById('car').value;
        $.ajax({
            type : 'POST',
            url : 'ajax/createLink',
            data : {
                iShareCar: eCar
            },
            dataType : 'json',
            success: function (data) {
                document.getElementById('shareLink').innerHTML = data;
            },
            error : function () {
                console.log ('error');
            }
        });
    }
    
    function GiveCar(){
        let eCar = document.getElementById('car').value;        
        let eUser = document.getElementById('usersInput2').value;
        $.ajax({
            type : 'POST',
            url : 'ajax/giveCar',
            data : {
                iGiveCarId: eCar,
                iGiveUser: eUser 
           },
            dataType : 'json',
            success: function (data) {
                if(data == 1){
                    document.getElementById('giveStatus').style.color = "red";
                    document.getElementById('giveStatus').innerHTML = "Zadaný účet neexistuje!<br>";
                } else if(data == 2){
                    document.getElementById('giveStatus').style.color = "var(--text-color)";
                    document.getElementById('giveStatus').innerHTML = "Auto bylo úspěšně předáno!<br>";
                    document.getElementById('state').innerHTML = "Archivováno";
                } else if(data == 3){
                    document.getElementById('giveStatus').style.color = "red";
                    document.getElementById('giveStatus').innerHTML = "Ty debile, jsi na drogách?!!<br>";
                }
            },
            error : function (errorThrown) {
                console.log (errorThrown);
            }
        });
    }
    
    document.getElementById('car').onchange = function() {
        Loading();
        GetData();
    };

    document.addEventListener('DOMContentLoaded', function() {
        GetData();
    }, false);

    function Loading(){
        document.getElementById('mfgdt').innerHTML = 'Načítání dat';
        document.getElementById('engine').innerHTML = 'Načítání dat';
        document.getElementById('power').innerHTML = 'Načítání dat';
        document.getElementById('fuelType').innerHTML = 'Načítání dat';
        document.getElementById('state').innerHTML = 'Načítání dat';
        document.getElementById('owner').innerHTML = 'Načítání dat';
        document.getElementById('distance').innerHTML = 'Načítání dat';
        document.getElementById('service').innerHTML = 'Načítání dat';
        document.getElementById('fc').innerHTML = 'Načítání dat';
        document.getElementById('btnArchiveCar').disabled = true;
        document.getElementById('btnArchiveCar').style.background = 'darkgray';
        document.getElementById('btnArchiveCar').style.cursor = 'not-allowed';
        document.getElementById('btnEditCar').disabled = true;
        document.getElementById('btnEditCar').style.background = 'darkgray';
        document.getElementById('btnEditCar').style.cursor = 'not-allowed';
        document.getElementById('btnDeleteCar').disabled = true;
        document.getElementById('btnDeleteCar').style.background = 'darkgray';
        document.getElementById('btnDeleteCar').style.cursor = 'not-allowed';
        document.getElementById('btnShareCar').disabled = true;
        document.getElementById('btnShareCar').style.background = 'darkgray';
        document.getElementById('btnShareCar').style.cursor = 'not-allowed';
        document.getElementById('btnShareCarLink').disabled = true;
        document.getElementById('btnShareCarLink').style.background = 'darkgray';
        document.getElementById('btnShareCarLink').style.cursor = 'not-allowed';
        document.getElementById('btnGiveCar').disabled = true;
        document.getElementById('btnGiveCar').style.background = 'darkgray';
        document.getElementById('btnGiveCar').style.cursor = 'not-allowed';
        document.getElementById('infoText').innerHTML = "";
        document.getElementById('shareStatus').innerHTML = "";
        document.getElementById('giveStatus').innerHTML = "";
        document.getElementById('shareLink').innerHTML = "";
        document.getElementById('userList').innerHTML = "";
        edit = 0;
        document.getElementById('btnEditCar').value = "Upravit";
        let parent = document.getElementById('info');
        const textField = {"text1": "mfgdt", "text2": "engine", "text3": "power"};
        for(var key in textField){
            let input = document.getElementById(textField[key]);
            let element = document.createElement("a");
            element.innerHTML = "Načítání dat";
            element.id = input.id;
            parent.replaceChild(element, input);
        }
    }

    function GetData(){
        let eCar = document.getElementById('car').value;
        $.ajax({
            type : 'POST',
            url : 'ajax/getCPData',
            data : {
                iCar: eCar
            },
            dataType : 'json',
            success: function (data) {
                document.getElementById('mfgdt').innerHTML = data[0];
                document.getElementById('engine').innerHTML = data[1];
                document.getElementById('power').innerHTML = data[2];
                document.getElementById('fuelType').innerHTML = data[3];
                document.getElementById('state').innerHTML = data[4];
                document.getElementById('owner').innerHTML = data[6];
                document.getElementById('distance').innerHTML = data[10];
                document.getElementById('service').innerHTML = data[7];
                document.getElementById('fc').innerHTML = data[8];
                document.getElementById('carId').innerHTML = data[9];
                document.getElementById('deleteCarId').value = data[9];
                if(data[11]){
                    document.getElementById('btnArchiveCar').disabled = false;
                    document.getElementById('btnArchiveCar').style.removeProperty('background');
                    document.getElementById('btnArchiveCar').style.removeProperty('cursor');
                    document.getElementById('btnEditCar').disabled = false;
                    document.getElementById('btnEditCar').style.removeProperty('background');
                    document.getElementById('btnEditCar').style.removeProperty('cursor');
                    document.getElementById('btnDeleteCar').disabled = false;
                    document.getElementById('btnDeleteCar').style.background = 'red';
                    document.getElementById('btnDeleteCar').style.removeProperty('cursor');
                    document.getElementById('btnShareCar').disabled = false;
                    document.getElementById('btnShareCar').style.removeProperty('background');
                    document.getElementById('btnShareCar').style.removeProperty('cursor');
                    document.getElementById('btnShareCarLink').disabled = false;
                    document.getElementById('btnShareCarLink').style.removeProperty('background');
                    document.getElementById('btnShareCarLink').style.removeProperty('cursor');
                    document.getElementById('btnGiveCar').disabled = false;
                    document.getElementById('btnGiveCar').style.removeProperty('background');
                    document.getElementById('btnGiveCar').style.removeProperty('cursor');
                }
                if(!data[12] == false){
                    data[12].forEach(CreateUserTab);

                }
            },
            error : function () {
                console.log ('error');
            }
        });
    }
    
    function CreateUserTab(item){
        let tr = document.createElement('tr');
        tr.style.boxShadow = "0px 5px 5px var(--shadow-color)";
        tr.style.background = "var(--primary-background-color)";
        tr.style.borderSpacing = "8px";
        tr.style.borderBottom = "1px solid var(--shadow-color)";
        tr.id = item[2];
        let td1 = document.createElement("td");
        td1.innerHTML = item[0]+" #"+item[3];
        tr.appendChild(td1);
        let td2 = document.createElement("td");
        td2.style.float = "right";
        td2.style.padding = "2px";
        let a = document.createElement("a");
        a.style.background = "red";
        a.style.cursor = "pointer";
        a.style.float = "right";
        a.style.padding = "8px 15px 8px 15px";
        a.style.color = "white";
        a.style.textDecoration = "none";
        a.setAttribute("onclick","DeleteShare("+item[2]+");");
        a.innerHTML = "X";
        td2.appendChild(a);
        tr.appendChild(td2);
        document.getElementById('userList').appendChild(tr);
    }
</script>