<br>
<div class="obal">
	<div class="box welcome" style="background-color: #77DD77">
		<br>
		<h2>Vyzkoušet</h2>
		<h1>Demo</h1>
	</div>
	<div class="box description">
		<input type="button" onclick="location.href='demo?create=1';" value="Přejít na demo účet">
	</div>
</div>