<br>
<a style="display: none" id="userId"><?=$userData['id']?></a>
<a style="display: none" id="fieldType">0</a>
<div class="obal_dolu">
    <div class="box profile_box">
        <h5>Tankování</h5>
        <hr>
        <div class="car_obal">
            <div class="car_box" id="change">
		<div id="createHeader"><h5 id="headerText">Přidání tankování</h5></div>
		<hr>
                <div id="chooseField" style="display: none; flex-direction: column; align-items: stretch;">
                    <a class="customButton" onclick="SwitchInput('start')">Započít novou sérii tankování</a>
                    <a class="customButton" onclick="SwitchInput('continue')">Pokračovat v sérii tankování</a>
                    <a class="customButton" onclick="SwitchInput('solo')">Jednorázové tankování</a>
                </div>
                <div style="display: none" id="inputField">
                    <label for="car">Auto:</label>
                    <select name="car" id="carId">
                    <?php
                        foreach($carList as $row){
                            echo '<option value='.Secure::encode($row['id']).'>'.$row['name'].' '.$row['model'].'</option>';
                        }
                    ?>
                    </select><br>
                    <label for="fuelDate">Datum tankování: </label>
                    <input type="date" id="fuelDate" value=""><br>
                    <div id="tachoFuelEl" style="display: none;"><label for="tachoFuel">Tachometr při tankování: </label>
                    <input type="number" min="0" id="tachoFuel" placeholder="Kilometry na tachometru"><br></div>
                    <div id="kmFuelEl" style="display: none;"><label for="kmFuel">Ujeto na nádrž: </label>
                    <input type="number" min="0" id="kmFuel" placeholder="Ujeto kilometrů"><br></div>
                    <label for="fuelAmount">Natankováno litrů: </label>
                    <input type="number" min="0.1" step="0.01" max="999.9" id="fuelAmount" placeholder="Litry"> <label>l</label><br>
                    <label for="price">Cena za litr: </label>
                    <input type="number" min="0.1" step="0.01" max="100" id="price" placeholder="Cena"> <label>Kč</label><br>
                    <br>
                    <input type="submit" name="button" id="btnAddFuel" value="Přidat">
                </div>
                <a id="statusText"></a>
            </div>
            <div class="car_box" style="align-self: flex-start; padding: 0;">
                <div class="dataTableHeader" onclick="RefreshTable()" title="Aktualizovat"><a style="padding-left: 20px; font-weight: bold">Auto</a><a style='float: right; font-weight: bold; padding-right: 20px'>Datum</a></div>
                <div class="dataTable" id="dataTable">
                </div>
            </div>
	</div>
    </div>
</div>

<script>
    document.getElementById('carId').onchange = function() {
        RefreshInput();
    };
    
    function SwitchInput(mode){
        document.getElementById('chooseField').style.display = "none";
        document.getElementById('inputField').style.display = "unset";
        
        let btnBack = document.createElement('a');
        btnBack.id = "btnBack";
        btnBack.style.float = "right";
        btnBack.classList.add('red');
        btnBack.setAttribute("onclick","RefreshInput();");
        btnBack.innerHTML = "X";
        document.getElementById('createHeader').prepend(btnBack);
        switch(mode){
            case 'start':
                document.getElementById('fieldType').innerHTML = 1;
                document.getElementById('tachoFuelEl').style.display = "unset";
                document.getElementById('kmFuelEl').style.display = "unset";
                document.getElementById('headerText').innerHTML = "Započení nové série tankování";
                break;
            case 'continue':
                document.getElementById('fieldType').innerHTML = 2;
                document.getElementById('tachoFuelEl').style.display = "unset";
                document.getElementById('headerText').innerHTML = "Pokračování v sérii tankování";
                break;
            case 'solo':
                document.getElementById('fieldType').innerHTML = 3;
                document.getElementById('kmFuelEl').style.display = "unset";
                document.getElementById('headerText').innerHTML = "Přidání jednorázového tankování";
                break
        }
    }
    
    document.getElementById('btnAddFuel').onclick = function() {
        let carId = document.getElementById('carId').value;      
        let fuelDate = document.getElementById('fuelDate').value;
        let tachoFuel = document.getElementById('tachoFuel').value;
        let kmFuel = document.getElementById('kmFuel').value;
        let fuelAmount = document.getElementById('fuelAmount').value;
        let price = document.getElementById('price').value;
        let mode = document.getElementById('fieldType').innerHTML;
        
        let statusText = document.getElementById('statusText');
        statusText.style.color = "red";
        if(fuelAmount <= 0 || fuelAmount == null){
            statusText.innerHTML = "Zadej kolik litrů bylo natankováno!";
            return;
        }
        if(price <= 0 || price == null){
            statusText.innerHTML = "Zadej kolik stál litr paliva!";
            return;
        }
        switch(mode){
            case "1":
                if(tachoFuel <= 0 || tachoFuel == null){
                    statusText.innerHTML = "Zadej stav tachometru!";
                    return;
                }
                break;
            case "2":
                if(tachoFuel <= 0 || tachoFuel == null){
                    statusText.innerHTML = "Zadej stav tachometru!";
                    return;
                }
                break;
            case "3":
                if(kmFuel <= 0 || kmFuel == null){
                    statusText.innerHTML = "Zadej počet ujetých kilometrů na nádrž!";
                    return;
                }
                break
        }
        
        AddFuel(carId, fuelDate, tachoFuel, kmFuel, fuelAmount, price, mode);    
    };

    function AddFuel(carId, fuelDate, tachoFuel, kmFuel, fuelAmount, price, mode){
        document.getElementById('statusText').style.color = "var(--text-color)";
        document.getElementById('statusText').innerHTML = "Přidává se tankování..";
        $.ajax({
            type : 'POST',
            url : 'ajax/addFuel',
            data : {
                0: carId,
                1: fuelDate,
                2: tachoFuel,
                3: kmFuel,
                4: fuelAmount,
                5: price,
                6: mode                
            },
            dataType : 'json',
            success: function (data) {
                CreateFuelTab(data[0], 1);
                document.getElementById('tachoFuel').value = "";
                document.getElementById('kmFuel').value = "";
                document.getElementById('fuelAmount').value = "";
                document.getElementById('price').value = "";
                document.getElementById('statusText').style.color = "var(--text-color)";
                document.getElementById('statusText').innerHTML = "Tankování bylo úspěšně přidáno!";
            },
            error : function (errorThrown) {
                console.log(errorThrown);
                document.getElementById('statusText').style.color = "red";
                document.getElementById('statusText').innerHTML = "Tankování se nepodařilo přidat!";
            }
        });
    }
    
    function DeleteFuel(fuelId){
        document.getElementById('statusText').style.color = "var(--text-color)";
        document.getElementById('statusText').innerHTML = "Odstraňování tankování..";
        $.ajax({
            type : 'POST',
            url : 'ajax/deleteFuel',
            data : {
                0: fuelId
            },
            dataType : 'json',
            success: function (data) {
                document.getElementById("data"+fuelId).remove();
                document.getElementById("fuel"+fuelId).remove();
                document.getElementById("junkyard"+fuelId).remove();
                document.getElementById('statusText').style.color = "var(--text-color)";
                document.getElementById('statusText').innerHTML = "Tankování bylo úspěšně odstraněno!";
            },
            error : function (errorThrown) {
                console.log(errorThrown);
                document.getElementById('statusText').style.color = "red";
                document.getElementById('statusText').innerHTML = "Tankování se nepodařilo odstranit!";
            }
        });
    }
    
    function RefreshInput(){
        document.getElementById('tachoFuel').value = "";
        document.getElementById('kmFuel').value = "";
        document.getElementById('fuelAmount').value = "";
        document.getElementById('price').value = "";
        document.getElementById('statusText').innerHTML = "";
        document.getElementById('tachoFuelEl').style.display = "none";
        document.getElementById('kmFuelEl').style.display = "none";
        if(settings[2][0] == 1){
            document.getElementById('chooseField').style.display = "flex";
            document.getElementById('inputField').style.display = "none";
            document.getElementById('headerText').innerHTML = "Přidání tankování";
            document.getElementById('btnBack').remove();
        }
    }
    
    function RefreshTable(){
        let loading = document.createElement('div');
        loading.style.height = "130px";
        loading.style.textAlign = "center";
        loading.style.marginTop = "60px";
        loading.innerHTML = "Načítání dat..";
        document.getElementById('dataTable').innerHTML = "";
        document.getElementById('dataTable').appendChild(loading);
        GetData();
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        let loading = document.createElement('div');
        loading.style.height = "130px";
        loading.style.textAlign = "center";
        loading.style.marginTop = "60px";
        loading.innerHTML = "Načítání dat..";
        document.getElementById('dataTable').appendChild(loading);
        
        document.getElementById('fuelDate').value = new Date().toISOString().slice(0, 10);
        document.getElementById('btnAddFuel').disabled = true;
        document.getElementById('btnAddFuel').style.background = 'darkgray';
        document.getElementById('btnAddFuel').style.cursor = 'not-allowed';
        
        if(settings[2][0] == 1){
            document.getElementById('chooseField').style.display = "flex";
        } else {
            document.getElementById('inputField').style.display = "unset";
        }

        GetData();
    }, false);

    function GetData(){
        $.ajax({
            type : 'POST',
            url : 'ajax/getFuel',
            dataType : 'json',
            success: function (data) {
                document.getElementById('dataTable').innerHTML = "";
                if(data.length != 0){
                    data.forEach((item) => {
                        CreateFuelTab(item);
                    });
                }
                
                document.getElementById('btnAddFuel').disabled = false;
                document.getElementById('btnAddFuel').style.removeProperty('background');
                document.getElementById('btnAddFuel').style.removeProperty('cursor');
                
                if(document.getElementById('userId').innerHTML == 0){
                    document.getElementById('btnAddFuel').remove();
                }
            },
            error : function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    
    function CreateFuelTab(item, mode = 0){
        let data = document.createElement('div');
        data.id = "data"+item[0];
        data.style.userSelect = "none";
        data.classList.add('dataTableData');
        data.setAttribute("onclick","ShowDescription('"+item[0]+"');");
        let a1H = document.createElement('a');
        if(item[9] != item[1]){
            a1H.innerHTML = item[2] + " " + item[3] + " &#10282;";
        } else {
            a1H.innerHTML = item[2] + " " + item[3];
        }
        data.appendChild(a1H);
        let a2H = document.createElement('a');
        a2H.innerHTML = "&#709;";
        a2H.id = "arrow"+item[0];
        a2H.style.float = "right";
        a2H.style.paddingLeft = "5px";
        data.appendChild(a2H);
        let a3H = document.createElement('a');
        a3H.innerHTML = item[4];
        a3H.style.float = "right";
        data.appendChild(a3H);

        let description = document.createElement('div');
        description.classList.add('dataTableDescription');
        description.id = "fuel"+item[0];
        description.style.display = "none";
        description.innerHTML = "<a style='float: left;'>Natankováno litrů</a><a style='float: right;'>Cena za litr</a><br><a class='highlightedText' style='float: left; padding-right: 5%'>"+item[5]+"</a><a class='highlightedText' style='float: right;'>"+item[6]+"</a><br><a style='float: left;'>Ujeto</a><a style='float: right;'>Cena celkově</a><br><a class='highlightedText' style='float: left; padding-right: 5%'>"+item[7]+"</a><a class='highlightedText' style='float: right;'>"+item[8]+"</a><br><br>";
        
        if(document.getElementById('userId').innerHTML != 0){
            description.innerHTML += "<input style='background: red; color: white;' type='submit' onclick='DeleteFuel("+'"'+item[0]+'"'+")' value='Smazat'>";
        }
        
        let editData = document.createElement('div');
        editData.style.display = "none";
        editData.id = "junkyard"+item[0];
       
        if(mode == 0){
            document.getElementById('dataTable').append(data, description, editData);
        } else {
            document.getElementById('dataTable').prepend(data, description, editData);
        } 
        
    }
    
    function ShowDescription(id) {
        let description = document.getElementById("fuel"+id);
        let arrow = document.getElementById("arrow"+id);
        let header = document.getElementById("data"+id);
        if(description.style.display == "none"){
            description.style.display = "revert";
            arrow.innerHTML = "&#708;";
            header.style.fontWeight = "bold";
        } else {
            description.style.display = "none";
            arrow.innerHTML = "&#709;";
            header.style.fontWeight = "normal";
        }
    }
</script>