<br>

<div class="obal">

    <?php if($userData['email_verify'] == 0): ?>

        <div class='box error'><h5>Nemáte ověřený email! Ověřte si ho v záložce <strong>Profil</strong></h5><a>Neověřený účet se automaticky smaže do 14 dnů</a></div>

    <?php endif; ?>
        
    <?php if($userData['demo'] == 1 && $userData['vehicle_count'] == 0): ?>

        <div class="box description"><h2>Nahrání demo dat</h2><br><h4><a href="homeboard?insertData=1">Nahrát data</a></h4></div>

    <?php endif; ?>

    <?php if($settings == 0): ?>

        <div class="box description"><h2>Máte prázdnou nástěnku.</h2><br><h4>Musíte jít do nastavení si nastavit, co se zde bude zobrazovat.</h4></div>

    <?php endif; ?>

</div>

<div class="obal_dolu">

    <?php foreach($boxes as $box){

        echo $box;

    }

    ?>

</div>