<br>
<div class="obal">
	<div class="box welcome">
		<br>
		<h2>Vítejte na webu pro</h2>
		<h1>Správu Aut</h1>
	</div>
	<div class="box description">
		<input type="button" onclick="location.href='register';" value="Zaregistrovat se">
	</div>
</div>


<!---
Nápady:

Manager mód / záložka
účty jako pod účty hlavního účtu
hlavní učet mění nastavneí pro vedlejší účty
viz. představit si že to používá manager ve firmě a viz firemní auta
záložka Manager
v záložce bude:
                nastavení uživatelů
                přidání uživatelů
                seznam uživatelů
                nástěnka uživatelů


do sdílení přidat tabulku kde by se vybral uživatel a šlo by vidět co všechno přidal a jedním kliknutím všechno smazat
možná taky rozdělit na kategorie ride/fuel
a taktéž rozdělit na auta
-->