<?php
$home = "";
$register = "";
$demo = "";
$faq = "";
$homeboard = "";
$ride = "";
$service = "";
$fuel = "";
$settings = "";
$profile = "";

$disabled = "";
$disabledBtn = "";
$disabledGhost = "";
$disabledBtnGhost = "";
$enabled = "enabled";
$admin = "style='display:none'";

$ca = "class='active'";
switch($page){
    case "home":
        $home = $ca;
        break;
    case "register":
        $register = $ca;
        break;
    case "demo":
        $demo = $ca;
        break;
    case "faq":
        $faq = $ca;
        break;
    case "homeboard":
        $homeboard = $ca;
        break;
    case "ride":
        $ride = $ca;
        break;
    case "service":
        $service = $ca;
        break;
    case "fuel":
        $fuel = $ca;
        break;
    case "settings":
        $settings = $ca;
        break;
    case "profile":
        $profile = $ca;
        break;
}

if(isset($userData)){
    if($userData['nickname'] == ""){
        $nickname = $userData['username'];
    } else {
        $nickname = $userData['nickname'];
    }
}

if(isset($userData) && Car::getMyCarsIds()[0] == 0){
    $disabled = "class='disabled'";
    $disabledBtn = "disabled";
    $enabled = "";
}

if(isset($userData) && !$userData['real_account']){
    $disabledGhost = "class='disabled'";
    $disabledBtnGhost = "disabled";
    $enabled = "";
}

if(isset($userData) && $userData['id'] == 44444444){
    $admin = "";
}
?>

<!DOCTYPE html>
<html>
<head>
    <base href="https://car.renkei.cz/">
    <meta charset="UTF-8">
    <title><?= $headline ?></title>
    <meta name="description" content="<?= $description ?>">
    <meta name="keywords" content="<?= $keywords ?>">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="icon" href="icon.png">
    <link rel="stylesheet" href="basic.css" type="text/css">
    <link rel="stylesheet" href="cars.css" type="text/css">
    <link rel="stylesheet" href="navbar.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="body">
        <div class="myNavbar" id="myNavbar">
            <?php if(!isset($userData)): ?>
                <a <?= $home ?> href="home">Domů</a>
                <a <?= $register ?> href="register">Registrace</a>
                <a <?= $demo ?> href="demo">Demo</a>
                <a <?= $faq ?> href="faq">FAQ</a>
                <a style="background-color: var(--third-background-color)"></a>
                <a href="javascript:void(0);" style="font-size:17px;" class="icon" onclick="show()">&#9776;</a>
                <?php $estyle = "color: red; float: right; background-color:#e9e9e9; font-weight: bold;"; if(isset($_GET['lerror']) && $_GET['lerror'] == 1){echo "<a style='$estyle'>Špatné heslo!</a>";} ?>
                <div class="loginContainer">
                    <form action="login" method="post">
                        <input type="text" placeholder="Uživatelské jméno" name="userName">
                        <input type="password" placeholder="Heslo" name="password">
                        <input type="hidden" name="srcPage" value="<?= $page ?>">
                        <button type="submit">Přihlásit se</button>
                    </form>
                </div>
            <?php elseif(isset($userData)): ?>
                <a <?= $homeboard ?> href="homeboard">Nástěnka</a>
                <a <?= $ride ?> <?= $disabled ?> href="ride">Jízdy</a>
                <a <?= $service ?> <?= $disabled ?> href="service" style="/*color: coral; font-weight: bold*/">Servis</a>
                <a <?= $fuel ?> <?= $disabled ?> href="fuel">Tankování</a>
                <div class="dropdown <?= $enabled ?>">
                    <button class="dropbutton <?= $disabledBtn ?> <?= $disabledBtnGhost ?>" style="border-radius: 0;">Nástroje</button>
                    <div class="dropdownContent">
                        <a href="carpanel">Nastavení auta</a>
                        <a href="calculator">Kalkulačka</a>
                        <a href="admin" <?= $admin ?>>Admin panel</a>
                    </div>
                </div>
                <a <?= $settings ?> <?= $disabled ?> <?= $disabledGhost ?> href="settings" style="/*color: coral; font-weight: bold*/">Nastavení</a>
                <a <?= $profile ?> href="profile">Profil</a>
                <a style="background-color: var(--third-background-color)"></a>
                <a href="javascript:void(0);" style="font-size:17px;" class="icon" onclick="show()">&#9776;</a>
                <div class="loginContainer">
                    <?php
                        if($userData['demo'] == 0){
                            echo '<a href="profile" id="profile_name">'. $nickname." #".$userData['id'] .'</a>
                                    <a href="logout" id="logout">Odhlásit se</a>';
                        } else {
                            echo '<form action="logout" method="post">
                                    <input type="hidden" name="id" value="'. Secure::encode($userData['id']) .'">
                                    <a href="profile" id="profile_name">'. $nickname." #".$userData['id'] .'</a>
                                    <input style="background:red; padding: 6px; margin-top: 8px; margin-right: 16px; float: right;" type="submit" value="Smazat">
                                    </form>';
                        }
                    ?>
                </div>
            <?php endif ?>
        </div>

        <section>
            <?php $this->controller->renderView(); ?>
        </section>
        <footer style="top: 150px; position: relative; color: var(--text-color)">
            <p>©2023 Pavel Sekanina</p>
        </footer>
    </div>
<script>

function getSettings(args) {
    let result;
    try {
        result = $.ajax({
            url: 'ajax/getSettings',
            type: 'POST',
            async: false,
            dataType : 'json',
            data: args
        });

        return result.responseText;
    } catch (error) {
        console.error(error);
    }
}

const settings = JSON.parse(getSettings());

function setTheme(){
    let theme = localStorage.getItem("theme");
    document.documentElement.className = theme;
}

document.onload = setTheme();

function party() {
  intervalID = setInterval(setTheme1, 10);
}

var i = 0;
function setTheme1(){
    if(i == 0){
        document.documentElement.className = "white";
        i = 1;
    } else {
        document.documentElement.className = "black";
        i = 0;
    }
}

const queryString = window.location.search;
const urlParams = new URLSearchParams(queryString);
if(urlParams.has('lerror')){
    myNavbar.className += " open";
}

function show() {
  var myNavbar = document.getElementById("myNavbar");
  if (myNavbar.className === "myNavbar") {
    myNavbar.className += " open";
  } else {
    myNavbar.className = "myNavbar";
  }
}
</script>
</body>
</html>