<br>
<div class="obal_dolu">
<div class="box profile_box">
    <h5>Základní informace</h5>
    <hr>
    <?php
	if($success == 1){echo "<a style='color: green'>Email odeslán!</a><br>";}
    ?>
    <?php if($edit == 3): ?>
        <form method='post'>
            <strong>Přezdívka: </strong>
            <input type='text' name='e_thing' value='<?= $nickname ?>'>
            <input type='hidden' name='thing' value='nickname'>  
            <input type='submit' value='Potvrdit'>
        </form>
    <?php else: ?>
        <strong>Přezdívka: </strong><a><?= $nickname ?></a>  <a href='profile?edit=3'>změnit</a><br>
    <?php endif ?>
    <strong>Uživatelské jméno: </strong><a><?= $userData['username'] ?></a><br>
    <strong>ID: </strong><a><?= $userData['id'] ?></a><br>
    <?php if($edit == 1): ?>
        <form method='post'>
            <strong>Email: </strong>
            <input type='email' name='e_thing' value='<?= $userData['email'] ?>'>
            <input type='hidden' name='thing' value='email'>  
            <input type='submit' value='Potvrdit'>
        </form>
    <?php else: ?>
        <?php if($userData['email_verify'] == 0): ?>
            <strong>Email: </strong><a style="color:red"><?= $userData['email'] ?></a>  <a href='profile?edit=1'>změnit</a>  <a href='user?se=<?= $userData['id'] ?>'>ověřit email</a>
        <?php else: ?>
            <strong>Email: </strong><a style="color:green"><?= $userData['email'] ?></a>  <a href='profile?edit=1'>změnit</a>
        <?php endif ?>
    <?php endif ?>
</div>
<div class="box profile_box">
    <h5>Vozový park</h5>
    <hr>
    <div class="car_obal" style="flex-direction: row">
        <?php foreach($carData as $row): ?>
            <div class="car_box" >
                <form method="post" onsubmit="return confirmC()"><strong><?= $row['bname'] ?> <?= $row['model'] ?> <?php if($row['archive'] == 1){echo '<a style="font-weight: normal; font-size: x-small;">(archivováno)</a>';}?></strong>
                    <?php if($row['account_id'] == $userData['id']): ?>
                        <button type="submit" name="car_id" value=<?= Secure::encode($row['id']) ?> class="dc-btn">X</button>
                    <?php endif; ?>
                </form>
                <hr>
                <strong>Rok výroby: </strong><a><?= $row["year"] ?></a><br>
                <strong>Motor: </strong><a><?= $row['engine'] ?></a><br>
                <strong>Výkon: </strong><a><?= $row['kw_power'] ?></a><br>
                <strong>Palivo: </strong><a><?= $row["fname"] ?></a>
            </div>
        <?php endforeach ?>
        <?php if($userData['vehicle_count'] == 0 && $cadd == 0): ?>
            <div class='car_box'><a><center>Nevlastníš žádná auta</center></a><a href='profile?cadd=1'><center>přidat<center></a></div>
        <?php elseif($userData['vehicle_count'] > 0 && $cadd == 0): ?>
             <div class='car_box'><a><center>Máš více aut? Přidej si je</center></a><a href='profile?cadd=1'><center>přidat</center></a></div>
        <?php else: ?>
             <div class="addcar_box">
                <form method="post">
                    <a class="red" style="float: right" href="profile">X</a><h5>Přidání auta</h5>
                    <hr>
                    <table>
                        <tr>
                            <td><label>Značka<a style="color: red">*</a></label></td>
                            <td><label>Model<a style="color: red">*</a></label></td>
                        </tr>
                        <tr>
                            <td>
                                <select name="brand">
                                <?php foreach($carList as $row): ?>
                                        <option value=<?= $row['id']?>><?= $row['name'] ?></option>';
                                <?php endforeach; ?>				
                                </select>
                            </td>
                            <td>
                                <input style="width: 100%" type="text" name="model" required placeholder="např. Passat Variant B8">
                            </td>
                        </tr>
                        <tr>
                            <td><label>Rok výroby<a style="color: red">*</a></label></td>
                            <td><label>Palivo<a style="color: red">*</a></label></td>
                        </tr>
                        <tr>
                            <td>
                                <select name="year">
                                <?php
                                    for ($year = (int)date('Y'); 1950 <= $year; $year--){
                                            echo '<option value='.$year.'>'.$year.'</option>';
                                    }		
                                ?>
                                </select>
                            </td>
                            <td>
                                <select name="fuel_type">
                                <?php foreach($fuelList as $row): ?>
                                    <option value=<?= $row['id'] ?>><?= $row['name'] ?></option>
                                <?php endforeach; ?>				
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Motor</label></td>
                            <td><label>Výkon (v kw)</label></td>
                        </tr>
                        <tr>
                            <td><input style="width: 147px" type="text" name="engine" placeholder="např. 2.0 TSI"></td>
                            <td><input style="width: 100px" type="number" name="kw_power" placeholder="např. 162"></td>
                        </tr>
                    </table>
                    <input type="submit" name="button" value="Přidat">
                </form>
            </div>
        <?php endif; ?>
	</div>
    </div>
<div class="box profile_box">
    <h5>Smazat účet</h5>
    <hr>
    <form method="post" onsubmit="return confirmA()">
        <input type='hidden' name='id' value=<?= Secure::encode($userData['id']) ?>>  
	<input style="background:red;" type='submit' name="button" value='Smazat'>
    </form>
    <script>
	function confirmA(){
            if(confirm("Opravdu chcete smazat účet?"))
     		return true;
  
            return false;
	}
	function confirmC(){
            if(confirm("Opravdu chcete smazat auto?"))
     		return true;
  
            return false;
	}
    </script>
</div>
</div>
