<br>
<div class="obal">
	<div class="box description">
		<h5>Registrace</h5><hr>
		<?php 
			if(isset($_GET['error']) && $_GET['error'] == 1){echo "<a style='color: red'>Hesla se neshodují!</a>";} 
			if(isset($_GET['error']) && $_GET['error'] == 2){echo "<a style='color: red'>Nenašlo se pro Vás volné ID. Zkuste znovu!</a>";} 
			if(isset($_GET['error']) && $_GET['error'] == 3){echo "<a style='color: red'>Uživatelské jméno je již zabrané!</a>";}
			if(isset($_GET['error']) && $_GET['error'] == 4){echo "<a style='color: red'>Účet s tímto emailem již existuje!</a>";}
			if(isset($_GET['success']) && $_GET['success'] == 1){echo "<a style='color: green'>Účet úspěšně založen!</a>";} 
		?>
		<form method="post" style="text-align: left;">
			<input style="width: 50%" type="text" onkeypress="return event.charCode != 32" name="username" required placeholder="Uživatelské jméno"><br>
			<input style="width: 50%" type="email" name="email" required placeholder="Email"><br>
			<input style="width: 50%" type="password" name="password" required placeholder="Heslo"><br>
			<input style="width: 50%" type="password" name="repassword" required placeholder="Potvrdit heslo"><br>
			<input type="submit" value="Zaregistrovat se">
		</form>
	</div>
</div>