<br>
<a style="display: none" id="userId"><?=$userData['id']?></a>
<div class="obal_dolu">
    <div class="box profile_box">
        <h5>Jízdy</h5>
        <hr>
        <div class="car_obal">
            <div class="car_box" id="change">
		<div id="editHeader" style="display:none"><a class="red" style="float: right" onclick="UpdateRide(0, 1)">X</a><h5>Úprava jízdy</h5></div>
		<div id="createHeader"><h5>Přidání jízdy</h5></div>
		<hr>
                <label for="car">Auto:</label>
		<select name="car" id="carId">
		<?php
                    foreach($carList as $row){
                        echo '<option value='.Secure::encode($row['id']).'>'.$row['name'].' '.$row['model'].'</option>';
                    }
		?>
		</select><br>
		<label for="drive_date">Datum jízdy: </label>
		<input type="date" name="ride_date" id="rideDate" value=""><br>
		<div id="kmBeforeEl" style="display: none;"><label for="km_before">Tachometr před: </label>
                <input type="number" min="0" value="" name="km_before" id="kmBefore" placeholder="Kilometry před"><br></div>
                <div id="kmAfterEl" style="display: none;"><label for="km_after">Tachometr po: </label>
		<input type="number" min="0" name="km_after" id="kmAfter" placeholder="Kilometry po"><br></div>
		<div id="kmEl" style="display: none"><label for="km">Ujeto kilometrů: </label>
                <input type="number" name="km" id="km" placeholder="Ujeto kilometrů"><br></div>
		<div id="fuelEl" style="display: none;"><label for="fuel">Spotřeba: </label>
		<input type="number" name="fuel" id="fuel" step="0.1" min="0" placeholder="Spotřeba"><br></div>
		<br>
		<input type="hidden" name="ride_id" id="rideId" value="">
		<input type="submit" name="button" id="btnCompleteEdit" style="display: none;" value="Upravit">
                <input type="submit" name="button" id="btnAddRide" value="Přidat">
                <a id="statusText"></a>
            </div>
            <div class="car_box" style="align-self: flex-start; padding: 0;">
                <div class="dataTableHeader" onclick="RefreshTable()" title="Aktualizovat"><a style="padding-left: 20px; font-weight: bold">Auto</a><a style='float: right; font-weight: bold; padding-right: 20px'>Datum</a></div>
                <div class="dataTable" id="dataTable">
                </div>
            </div>
	</div>
    </div>
</div>

<script>
    document.getElementById('carId').onchange = function() {
        if(document.getElementById('editHeader').value == "1"){
            
        } else {
            RefreshInput();
        }
    };
    
    document.getElementById('btnAddRide').onclick = function() {
        let carId = document.getElementById('carId').value;
        let kmBefore = document.getElementById('kmBefore').value;
        let kmAfter = document.getElementById('kmAfter').value;
        let km = document.getElementById('km').value;
        let rideDate = document.getElementById('rideDate').value;
        let fuel = document.getElementById('fuel').value;
        AddRide(carId, kmBefore, kmAfter, km, rideDate, fuel);    
    };

    document.getElementById('btnCompleteEdit').onclick = function() {
        const rideId = document.getElementById('rideId').value;
        const carId = document.getElementById('carId').value;
        const kmBefore = document.getElementById('kmBefore').value;
        const kmAfter = document.getElementById('kmAfter').value;
        let km = document.getElementById('km').value;
        const rideDate = document.getElementById('rideDate').value;
        const fuel = document.getElementById('fuel').value;
        
        const editKmBefore = document.getElementById(('iKmBefore'+rideId)).innerHTML;
        const editKmAfter = document.getElementById(('iKmAfter'+rideId)).innerHTML;
        
        if((kmBefore != editKmBefore || kmAfter != editKmAfter) && (kmBefore != "" || kmAfter != "")){
            if(kmAfter < kmBefore){
                km = 0;
            } else {
                km = kmAfter - kmBefore;
            }
        }

        EditRide(carId, kmBefore, kmAfter, km, rideDate, fuel, rideId);
    };

    function AddRide(eCarId, eKmBefore, eKmAfter, eKm, eRideDate, eFuel){
        document.getElementById('statusText').style.color = "var(--text-color)";
        document.getElementById('statusText').innerHTML = "Přidává se jízda..";
        $.ajax({
            type : 'POST',
            url : 'ajax/addRide',
            data : {
                iCarId: eCarId,
                iKmBefore: eKmBefore,
                iKmAfter: eKmAfter,
                iKm: eKm,
                iRideDate: eRideDate,
                iFuel: eFuel
            },
            dataType : 'json',
            success: function (data) {
                CreateRideTab(data[0], 1);
                document.getElementById('kmBefore').value = data[0][3];
                document.getElementById('kmAfter').value = "";
                document.getElementById('km').value = "";
                document.getElementById('fuel').value = "";
                document.getElementById('statusText').style.color = "var(--text-color)";
                document.getElementById('statusText').innerHTML = "Jízda úspěšně přidána!";
            },
            error : function (errorThrown) {
                console.log(errorThrown);
                document.getElementById('statusText').style.color = "red";
                document.getElementById('statusText').innerHTML = "Jízdu se nepodařilo přidat!";
            }
        });
    }
    
    function UpdateRide(rideId, end = 0){
        if(end == 1){
            document.getElementById('editHeader').style.display = "none";
            document.getElementById('createHeader').style.display = "unset";
            document.getElementById('btnCompleteEdit').style.display = "none";
            document.getElementById('btnAddRide').style.display = "unset";
            RefreshInput();
            return;
        }
        document.getElementById('editHeader').value = "1";
        document.getElementById('editHeader').style.display = "unset";
        document.getElementById('createHeader').style.display = "none";
        document.getElementById('btnCompleteEdit').style.display = "unset";
        document.getElementById('btnAddRide').style.display = "none";
        document.getElementById('kmBefore').value = "";
        document.getElementById('kmAfter').value = "";
        document.getElementById('fuel').value = "";
        
        const carId = document.getElementById('iCarId'+rideId).innerHTML;
        const editDate = document.getElementById('iDate'+rideId).innerHTML;
        const editKmBefore = document.getElementById('iKmBefore'+rideId).innerHTML;
        const editKmAfter = document.getElementById('iKmAfter'+rideId).innerHTML;
        const editDistance = document.getElementById('iDistance'+rideId).innerHTML;
        const editFuel = document.getElementById('iFuel'+rideId).innerHTML;

        document.getElementById('carId').value = carId;
        document.getElementById('rideDate').value = editDate;
        document.getElementById('rideId').value = rideId;
        if(editKmBefore != "null"){
            document.getElementById('kmBefore').value = editKmBefore;
            document.getElementById('kmAfter').value = editKmAfter;
            document.getElementById('kmBeforeEl').style.display = "unset";
            document.getElementById('kmAfterEl').style.display = "unset";
            document.getElementById('kmEl').style.display = "none";
            document.getElementById('km').value = editDistance;
            
        } else {
            document.getElementById('kmBeforeEl').style.display = "none";
            document.getElementById('kmAfterEl').style.display = "none";
            document.getElementById('km').value = editDistance;
            document.getElementById('kmEl').style.display = "unset";
        }
        if(editFuel != "null"){
            document.getElementById('fuel').value = editFuel;
            document.getElementById('fuelEl').style.display = "unset";
        } else {
            document.getElementById('fuelEl').style.display = "none";
        }
    }

    function EditRide(carId, kmBefore, kmAfter, km, rideDate, fuel, rideId){
        document.getElementById('statusText').style.color = "var(--text-color)";
        document.getElementById('statusText').innerHTML = "Upravuje se jízda..";
        $.ajax({
            type : 'POST',
            url : 'ajax/editRide',
            data : {
                0: carId,
                1: kmBefore,
                2: kmAfter,
                3: km,
                4: rideDate,
                5: fuel,
                6: rideId
            },
            dataType : 'json',
            success: function (data) {
                GetData();
                RefreshInput();
                document.getElementById('statusText').style.color = "var(--text-color)";
                document.getElementById('statusText').innerHTML = "Jízda úspěšně upravena!";
            },
            error : function (errorThrown) {
                console.log(errorThrown);
                document.getElementById('statusText').style.color = "red";
                document.getElementById('statusText').innerHTML = "Jízdu se nepodařilo upravit!";
            }
        });
    }
    
    function DeleteRide(eRideId){
        document.getElementById('statusText').style.color = "var(--text-color)";
        document.getElementById('statusText').innerHTML = "Odstraňování jízdy..";
        $.ajax({
            type : 'POST',
            url : 'ajax/deleteRide',
            data : {
                iDeleteRide: eRideId
            },
            dataType : 'json',
            success: function (data) {
                document.getElementById("data"+eRideId).remove();
                document.getElementById("ride"+eRideId).remove();
                document.getElementById("junkyard"+eRideId).remove();
                document.getElementById('statusText').style.color = "var(--text-color)";
                document.getElementById('statusText').innerHTML = "Jízda úspěšně odstraněna!";
            },
            error : function (errorThrown) {
                console.log(errorThrown);
                document.getElementById('statusText').style.color = "red";
                document.getElementById('statusText').innerHTML = "Jízdu se nepodařilo odstranit!";
            }
        });
    }
    
    function RefreshInput(){
        document.getElementById('btnAddRide').disabled = true;
        document.getElementById('btnAddRide').style.background = 'darkgray';
        document.getElementById('btnAddRide').style.cursor = 'not-allowed';
        document.getElementById('rideDate').value = new Date().toISOString().slice(0, 10);
        document.getElementById('kmBefore').value = "";
        document.getElementById('kmAfter').value = "";
        document.getElementById('km').value = "";
        document.getElementById('fuel').value = "";
        document.getElementById('rideId').value = "";
        
        if(settings[1][0] != 1){
            document.getElementById('kmBeforeEl').style.display = "none";
            document.getElementById('kmAfterEl').style.display = "none";
            document.getElementById('kmEl').style.display = "unset";
        } else {
            document.getElementById('kmEl').style.display = "none";
            document.getElementById('kmBeforeEl').style.display = "unset";
            document.getElementById('kmAfterEl').style.display = "unset";
        }
                
        if(settings[1][1] != 1){
            document.getElementById('fuelEl').style.display = "none";
        } else {
            document.getElementById('fuelEl').style.display = "unset";
        }
        
        document.getElementById('editHeader').value = "";
        document.getElementById('statusText').style.color = "var(--text-color)";
        document.getElementById('statusText').innerHTML = "Načítání poslední jízdy..";
        let eCarId = document.getElementById('carId').value;
        $.ajax({
            type : 'POST',
            url : 'ajax/getLastRide',
            data : {
                iCarId: eCarId
            },
            dataType : 'json',
            success: function (data) {
                if(data.length != 0){
                    document.getElementById('kmBefore').value = data[0][0];
                }
                document.getElementById('btnAddRide').disabled = false;
                document.getElementById('btnAddRide').style.removeProperty('background');
                document.getElementById('btnAddRide').style.removeProperty('cursor');
                document.getElementById('statusText').innerHTML = "";
            },
            error : function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    
    function RefreshTable(){
        let loading = document.createElement('div');
        loading.style.height = "130px";
        loading.style.textAlign = "center";
        loading.style.marginTop = "60px";
        loading.innerHTML = "Načítání dat..";
        document.getElementById('dataTable').innerHTML = "";
        document.getElementById('dataTable').appendChild(loading);
        GetData();
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        let loading = document.createElement('div');
        loading.style.height = "130px";
        loading.style.textAlign = "center";
        loading.style.marginTop = "60px";
        loading.innerHTML = "Načítání dat..";
        document.getElementById('dataTable').appendChild(loading);
        
        document.getElementById('rideDate').value = new Date().toISOString().slice(0, 10);
        document.getElementById('btnAddRide').disabled = true;
        document.getElementById('btnAddRide').style.background = 'darkgray';
        document.getElementById('btnAddRide').style.cursor = 'not-allowed';

        GetData();
    }, false);

    function GetData(){
        $.ajax({
            type : 'POST',
            url : 'ajax/getRides',
            data : {
            },
            dataType : 'json',
            success: function (data) {
                document.getElementById('dataTable').innerHTML = "";
                if(data.length != 0){
                    document.getElementById('kmBefore').value = data[0][3];
                    document.getElementById('carId').value = data[0][2];
                    
                    data.forEach((item) => {
                        CreateRideTab(item);
                    });
                }
                
                if(settings[1][0] == 1){
                    document.getElementById('kmBeforeEl').style.display = "unset";
                    document.getElementById('kmAfterEl').style.display = "unset";
                } else {
                    document.getElementById('kmEl').style.display = "unset";
                    document.getElementById('kmBefore').value = "";
                }
                
                if(settings[1][1] == 1){
                    document.getElementById('fuelEl').style.display = "unset";
                }
                
                document.getElementById('btnAddRide').disabled = false;
                document.getElementById('btnAddRide').style.removeProperty('background');
                document.getElementById('btnAddRide').style.removeProperty('cursor');
                
                if(document.getElementById('userId').innerHTML == 0){
                    document.getElementById('btnAddRide').remove();
                    document.getElementById('btnCompleteEdit').remove();
                }
            },
            error : function (errorThrown) {
                console.log(errorThrown);
            }
        });
    }
    
    function CreateRideTab(item, mode = 0){
        let data = document.createElement('div');
        data.id = "data"+item[0];
        data.style.userSelect = "none";
        data.classList.add('dataTableData');
        data.setAttribute("onclick","ShowDescription('"+item[0]+"');");
        let a1H = document.createElement('a');
        if(item[17] != item[1]){
            a1H.innerHTML = item[4] + " " + item[5] + " &#10282; ("+item[18]+")";
        } else {
            a1H.innerHTML = item[4] + " " + item[5];
        }
        data.appendChild(a1H);
        let a2H = document.createElement('a');
        a2H.innerHTML = "&#709;";
        a2H.id = "arrow"+item[0];
        a2H.style.float = "right";
        a2H.style.paddingLeft = "5px";
        data.appendChild(a2H);
        let a3H = document.createElement('a');
        a3H.innerHTML = item[6];
        a3H.style.float = "right";
        data.appendChild(a3H);

        let description = document.createElement('div');
        description.classList.add('dataTableDescription');
        description.id = "ride"+item[0];
        description.style.display = "none";
        description.innerHTML = "<a style='float: left;'>Tachometer před</a><a style='float: right;'>Ujeto</a><br><a class='highlightedText' style='float: left; padding-right: 5%'>"+item[7]+"</a><a class='highlightedText' style='float: right;'>"+item[9]+"</a><br><a style='float: left;'>Tachometer po</a><a style='float: right;'>Spotřeba</a><br><a class='highlightedText' style='float: left; padding-right: 5%'>"+item[8]+"</a><a class='highlightedText' style='float: right;'>"+item[10]+"</a><br><br>";
        
        if(document.getElementById('userId').innerHTML != 0){
            description.innerHTML += "<input type='submit' onclick='UpdateRide("+'"'+item[0]+'"'+")' value='Upravit'><input style='background: red; color: white; float: right' type='submit' onclick='DeleteRide("+'"'+item[0]+'"'+")' value='Smazat'>";
        }
        

        let editData = document.createElement('div');
        editData.style.display = "none";
        editData.id = "junkyard"+item[0];
        editData.innerHTML = "<a id='iCarId"+item[0]+"'>"+item[2]+"</a><a id='iDate"+item[0]+"'>"+item[14]+"</a><a id='iKmBefore"+item[0]+"'>"+item[12]+"</a><a id='iDistance"+item[0]+"'>"+item[15]+"</a><a id='iKmAfter"+item[0]+"'>"+item[13]+"</a><a id='iFuel"+item[0]+"'>"+item[16]+"</a>";
        
        if(mode == 0){
            document.getElementById('dataTable').append(data, description, editData);
        } else {
            document.getElementById('dataTable').prepend(data, description, editData);
        } 
        
    }
    
    function ShowDescription(id) {
        let description = document.getElementById("ride"+id);
        let arrow = document.getElementById("arrow"+id);
        let header = document.getElementById("data"+id);
        if(description.style.display == "none"){
            description.style.display = "block";
            arrow.innerHTML = "&#708;";
            header.style.fontWeight = "bold";
        } else {
            description.style.display = "none";
            arrow.innerHTML = "&#709;";
            header.style.fontWeight = "normal";
        }
    }
</script>
