<br>
<div class="obal_dolu">
    <div class="box profile_box">
        <h5>Servis</h5>
        <hr>
        <div class="car_obal">
            <div class="car_box" id="change">
                <form method="post">
		<?php
			if($es != ""){
				echo '<a class="red" style="float: right" href="service">X</a><h5>Úprava servisu</h5>';
			} else {
				echo '<h5>Přidání servisního případu</h5>';
			}
		?>
		<hr>
                <label for="car">Auto:</label>
		<select name="car">
		<?php
                    foreach($carList as $row){
			if($es != ""){
                            if($row['id'] == $serviceData['vehicle_id']){
				echo '<option value='.$row['id'].' selected>'.$row['name'].' '.$row['model'].'</option>';
                            } else {
				echo '<option value='.$row['id'].'>'.$row['name'].' '.$row['model'].'</option>';
                            }
			} else {
                            echo '<option value='.$row['id'].'>'.$row['name'].' '.$row['model'].'</option>';
			}
                    }
		?>
    		</select><br>
		<label for="service_date">Datum servisu: </label>
		<?php
			if($es != ""){
				echo '<input type="date" name="service_date" value="'.$serviceData['service_date'].'"><br>';
			} else {
				echo '<input type="date" name="service_date" value="'.$today.'"><br>';
			}
		?>
		<label for="tachometer">Stav tachometru: </label>
		<?php
			if($es != ""){
				echo '<input type="number" min="0" name="tachometer" value="'.$serviceData['tachometer'].'" placeholder="Kilometry na tachometru"><br>';
			} else {
				echo '<input type="number" min="0" name="tachometer" placeholder="Kilometry na tachometru"><br>';
			}
		?>
		<label for="description">Popis: </label>
		<?php
			if($es != ""){
				echo '<br><textarea style="width:100%" id="obsah" name="description" rows="4" cols="50">'.$serviceData['description'].'</textarea><br>';
			} else {
				echo '<br><textarea style="width:100%" id="obsah" name="description" rows="4" cols="50"></textarea><br>';
			}
		?>
		<label for="price">Cena: </label>
		<?php
			if($es != ""){
				echo '<input type="number" min="0" step="0.01" max="1000000" name="price" value="'.$serviceData['price'].'" placeholder="Cena"> <label>Kč</label><br>';
			} else {
				echo '<input type="number" min="0" step="0.01" max="1000000" name="price" placeholder="Cena"> <label>Kč</label><br>';
			}
		?>
		<br>
		<?php
                        if($userData['real_account']){
                            if($es != ""){
				echo '<input type="hidden" name="service_id" value="'.$es.'">
				<input type="submit" name="button" value="Upravit">
   				<input style="background:red;" type="submit" name="button" value="Smazat">';
                            } else {
				echo '<input type="submit" name="button" value="Přidat">';
                            }
                        }
		?>
                </form>
            </div>
            <div class="car_box" style="align-self: flex-start">
                <div class="scrolltable">
                    <table class="ride_table">
                        <tr class='ride_tr'><th class='ride_th'>Auto</th><th class='ride_th'>Datum servisu</th><th class='ride_th'>Stav tachometru</th><th class='ride_th'>Popis</th><th class='ride_th'>Cena</th></tr>	  
                        <?php foreach($tableService as $row): ?>
                            <?php if($row['account_id'] == $userData['id']): ?> 
                                <tr class='ride_tr' onclick="window.location.href='service?es=<?= Secure::encode($row['id']) ?>#change'"><td class='ride_td'><?= $row["Brand"] ?> <?= $row["Model"] ?></td><td class='ride_td'><?= $row["Datum servisu"] ?></td><td class='ride_td'><?= number_format($row["tachometer"], 0, ',', ' ') ?></td><td class='ride_td' style='white-space: pre;'><?= $row["description"] ?></td><td class='ride_td'><?= $row["price"] ?> Kč</td></tr>
                            <?php else: ?>
                                <tr class='ride_tr share' onclick="window.location.href='service?es=<?= Secure::encode($row['id']) ?>#change'"><td class='ride_td'><?= $row["Brand"] ?> <?= $row["Model"] ?></td><td class='ride_td'><?= $row["Datum servisu"] ?></td><td class='ride_td'><?= number_format($row["tachometer"], 0, ',', ' ') ?></td><td class='ride_td' style='white-space: pre;'><?= $row["description"] ?></td><td class='ride_td'><?= $row["price"] ?> Kč</td></tr>
                             <?php endif; ?>
                        <?php endforeach ?>
                    </table>
                </div>
            </div>
	</div>
    </div>
</div>