<br>
		<form method="post" id="set_form">
    		<div class="obal_dolu">
                    <div class="box profile_box">
				<h5>Web</h5>
				<hr>
				<label for="w_theme"><strong>Tmavý režim: </strong></label>
				<label class="switch">
                                    <input type="checkbox" name="theme" id="w_theme" onchange="updateTheme();">
  					<span class="slider round"></span>
				</label>
			</div>
			<div class="box profile_box">
				<h5>Nástěnka</h5>
				<hr>
				<label for="hb_ac"><strong>Souhrn aut: </strong></label>
				<label class="switch">
                                    <input type="checkbox" name="allCar" id="hb_ac" <?php if($settings[0][0] == 1){echo "checked";} ?> onchange="submit();">
  					<span class="slider round"></span>
				</label>
				<br><br>
                                <label for="hb_ap"><strong>Souhrn profilu: </strong></label>
				<label class="switch">
                                    <input type="checkbox" name="allProfile" id="hb_ap" <?php if($settings[0][1] == 1){echo "checked";} ?> onchange="submit();">
  					<span class="slider round"></span>
				</label>
                                <br><br>
				<label for="hb_l10fp"><strong>Posledních 10 tankování: </strong></label>
				<label class="switch">
  					<input type="checkbox" name="last10Fuel" id="hb_l10fp" <?php if($settings[0][2] == 1){echo "checked";} ?> onchange="submit();">
  					<span class="slider round"></span>
                                </label>
                                <br><br>
				<label for="hb_fuelPriceGraph"><strong>Graf cen PHM: </strong></label>
				<label class="switch">
  					<input type="checkbox" name="fuelPriceGraph" id="hb_fuelPriceGraph" <?php if($settings[0][3] == 1){echo "checked";} ?> onchange="submit();">
  					<span class="slider round"></span>
				</label>	
			</div>
			<div class="box profile_box">
				<h5>Jízdy</h5>
				<hr>
				<label for="tcg"><strong>Zapisovat tachometr: </strong></label>
				<label class="switch">
  					<input type="checkbox" name="useTachometer" id="tcg" <?php if($settings[1][0] == 1){echo "checked";} ?> onchange="submit();">
  					<span class="slider round"></span>
				</label>
				<br><br>
				<label for="fuel"><strong>Zapisovat spotřebu: </strong></label>
				<label class="switch">
  					<input type="checkbox" name="writeFuel" id="fuel" <?php if($settings[1][1] == 1){echo "checked";} ?> onchange="submit();">
  					<span class="slider round"></span>
				</label>
			</div>
			<div class="box profile_box">
				<h5>Tankování</h5>
				<hr>
				<label for="tcg"><strong>Vypočítávat automaticky spotřebu: </strong></label>
				<label class="switch">
  					<input type="checkbox" name="countFuel" id="fuel" <?php if($settings[2][0] == 1){echo "checked";} ?> onchange="submit();">
  					<span class="slider round"></span>
				</label>
								
			</div>
		</div>
		</form>
<script>
    document.onload = getTheme();
    
    function getTheme(){
        let checkbox = localStorage.getItem("theme");
        if(checkbox == "black"){
            document.getElementById('w_theme').checked = true;
        }
    }
    
    function updateTheme(){
        let checkbox = document.getElementById('w_theme').checked;
        if(checkbox){
            localStorage.setItem("theme", "black");
            document.documentElement.className = "black";
        } else {
            localStorage.setItem("theme", "white");
            document.documentElement.className = "white";
        }
    }
    
    function submit(){ 
  	document.getElementById('set_form').submit(); 
    }
</script>
