<br>
<div class="obal_dolu">
    <div class="box profile_box">
        <h5>Sdílení aut</h5>
        <hr>
        <?php if(isset($_GET['error']) && $_GET['error'] == 1){echo "<a style='color: red'>Zadaný účet neexistuje!</a>";} ?>
        <?php if(isset($_GET['error']) && $_GET['error'] == 2){echo "<a style='color: red'>Auto již s daným uživatelem sdílíš!</a>";} ?>
        <form method="post">
        <table class="userList">
            <tr>
                <th>Uživatel</th><th>Zapůjčená auta</th><th style="float: right;">Možnosti</th>
            </tr>
            <?php
            $nowAccount = 0;
            $needEnd = 0;
            $didSomething = 0;
            $ids = "";
            foreach($shareData as $row){
                $didSomething = 1;
                if($needEnd == 1 and $row['account_id'] != $nowAccount){
                    echo "</td>
                            <td style='float: right; padding: 2px;'>
                                <a href='sharing?".$ids."' style='background:red; cursor: pointer; float: right; padding: 8px 15px 8px 15px; color: white; text-decoration: none;'>X</a>
                                <a style='float: right; padding: 8px 15px 8px 15px; color: white; text-decoration: none; background: darkgray; cursor: not-allowed;'>U</a>
                            </td>
                        </tr>";
                    $needEnd = 0;
                    $ids = "";
                }
                if(empty($ids)){$ids .= "ids[]=".$row['id'];}else{$ids .= "&ids[]=".$row['id'];}
                if($row['account_id'] == $nowAccount){
                    echo "<a href='profile#".$row['vehicle_id']."' style='margin-right: 10px; text-decoration: none; color: black'>".$row['brand']." ".$row['model']."</a>";
                    $needEnd = 1;
                } else {
                    $nowAccount = $row['account_id'];                    
                    echo "<tr style='box-shadow: 0px 5px 5px #eaeaea; background-color: white; border-spacing: 8px; border-bottom: 1px solid #e9e9e9;'>
                            <td>".$row['username']." #".$row['account_id']."</td>
                            <td style='width: 50%'>
                                <a href='profile#".$row['vehicle_id']."' style='margin-right: 10px; text-decoration: none; color: black'>".$row['brand']." ".$row['model']."</a>";
                    $needEnd = 1;
                }
            }
            if($didSomething == 1){
                echo "</td>
                        <td style='float: right; padding: 2px;'>
                            <a href='sharing?".$ids."' style='background:red; cursor: pointer; float: right; padding: 8px 15px 8px 15px; color: white; text-decoration: none;'>X</a>
                            <a style='float: right; padding: 8px 15px 8px 15px; color: white; text-decoration: none; background: darkgray; cursor: not-allowed;'>U</a>
                        </td>
                        </tr>";
            }
            ?>
            <tr style="box-shadow: 0px 5px 5px #eaeaea; background-color: white; border-spacing: 8px;">
                <td style="padding: 0px;">
                    <input type="text" style="width: 95%; height: 44px; margin: 0px; padding: 10px; border: 0px solid; background-color: #fafafa"  placeholder="Email/ID" name="user">
                </td>
                <td style="width: 70%; padding: 0px;">
                    <select style="width: 150px; height: 44px; margin: 0px; border: 0px solid; background-color: #fafafa" name="car">
                        <?php foreach($carList as $row): ?>
                            <option value=<?= $row['id'] ?>><?= $row['name'] ?> <?= $row['model'] ?></option>
                        <?php   endforeach; ?>
                    </select>
                </td>
                <td style="float: right; padding: 2px">
                    <input type="submit" style="height: 40px; cursor: pointer;" name="button" value="Přidat">
                </td>
            </tr>
        </table>
        </form>
    </div>
</div